<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/hiko_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/hiko_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ultimate"
        tools:targetApi="31">

        <activity
            android:name=".musicfunction.AddMusicActivity"
            android:exported="false" />
        <activity
            android:name=".musicfunction.MusicFolderActivity"
            android:exported="false" />
        <activity
            android:name=".musicfunction.AudioListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FakeAudioCallActivity"
            android:exported="false" />
        <activity
            android:name=".chat.activity.AudioCallActivity"
            android:exported="false" />
        <activity
            android:name=".activity.demo"
            android:exported="false" />
        <activity
            android:name=".language.SelectLanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.activity.ImagePreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.activity.SellerRechargeHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.activity.SellerOfflineRechargeActivity"
            android:exported="false" />
        <activity
            android:name=".fake.activity.FakeAudioWatchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live.activity.WatchAudioLiveActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live.activity.PreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live.activity.LocationChooseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live.activity.UploadPostActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live.activity.UploadActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live.activity.LiveSummaryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live.activity.StickerPickerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live.activity.RecorderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live.activity.SongPickerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live.activity.FilterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live.activity.VolumeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live.activity.HostLiveAudioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.activity.CashOutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.activity.CoinSellerListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.activity.HistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.activity.RecordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.activity.VipPlanActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="vippaypal"
                    android:scheme="com.volaparty.voice" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="paystack"
                    android:scheme="com.volaparty.voice" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.activity.FreeDiamondsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.activity.MyLevelListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live.activity.GotoLiveActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".profile.activity.StoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HostRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ComplainDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ComplainListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreateComplainActivity"
            android:exported="false"
            android:theme="@style/Theme.Ultimate" />
        <activity
            android:name=".profile.activity.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reels.activity.ReelsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.activity.MyRelitesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".guestuser.activity.FollowersListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".guestuser.activity.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.activity.VideoCallActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.activity.CallIncomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.activity.VideoCallBaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".agora.AgoraBaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.activity.CallRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.activity.ChatActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".chat.activity.FakeVideoCallActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.activity.FakeCallRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.activity.FakeChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".guestuser.activity.GuestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".post.activity.FeedListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.activity.MyPostsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.activity.WebActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BlockedUserListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.activity.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.fragment.MyWalletActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="paypalpay"
                    android:scheme="com.volaparty.voice" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="paystack"
                    android:scheme="com.volaparty.voice" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.FlutterwaveWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaystackWebViewActivity"
            android:exported="false" />

        <activity
            android:name=".profile.fragment.MyIncomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leaderboard.LeaderBoardActivity"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Ultimate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- DEEP LINK CODE START -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="enter your domain"
                    android:scheme="https" /> <!-- Enter Your Domain Ex :- yourdomain.com -->
                <!-- CREDENTIAL -->
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="enter your domain" /> <!-- Enter Your Domain Ex :- yourdomain.com -->
                <!-- CREDENTIAL -->
                <data android:pathPrefix="/open" />
                <data android:scheme="https" />
                <data android:host="enter your domain" /> <!-- Enter Your Domain Ex :- yourdomain.com -->
                <!-- CREDENTIAL -->
                <data android:pathPrefix="/" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="https://enter your domain/://" /> <!-- https://Enter Your Domain/:// Ex :- yourdomain.com -->
                <!-- CREDENTIAL -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="open"
                    android:scheme="enter your appname" /> <!-- Enter Your App Name In Small Character Ex :- xyz -->
                <!-- CREDENTIAL -->
            </intent-filter>
            <!-- DEEP LINK CODE END -->

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".notification.FirebaseMessage"
            android:directBootAware="true"
            android:exported="false"
            android:foregroundServiceType="phoneCall">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".live.utils.FloatingButtonService"
            android:exported="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" />
        <service android:name=".notification.HeadsUpNotificationService" />

        <receiver
            android:name=".notification.CallNotificationActionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="ConstantApp.CALL_RECEIVE_ACTION" />
                <action android:name="ConstantApp.CALL_CANCEL_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utils.NetWorkChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action." />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.MainActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />
        <uses-native-library
            android:name="libOpenCL-pixel.so"
            android:required="false" />
    </application>

</manifest>
